
.body,
.body-portfolio {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #ffffff;
    position: relative;
    letter-spacing: 0.02em;
}

:root{
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
}

.section-first{
    background: #2E2F42;
}

.link{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.dark-logo{
    color: #2E2F42;
}
.light-logo{
    color: #f4f4fd;
}
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}
.button{
    font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        --font-family: inherit;
}
.button:hover,.button:focus{
    color: var(--white);
        background: var(--ocean);
}
.caption{
    font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.text{
    font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
.subject{
    font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}
.item-fase{
    border: 1px solid #E7E9FC;
}
.section-foursh{
    background: #F4F4FD;
}
.item-man{
    mix-blend-mode: normal;
}
.footer{
    background: #2E2F42;
}
/* portfolio */

.portfolio-btn{
    font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        --font-family: inherit;
        color: #FFFFFF;
        background: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.portfolio-button{
    font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        --font-family: inherit;
        color: #4D5AE5;
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
}
.portfolio-btn,.portfolio-button:hover,.portfolio-btn,
.portfolio-button:focus{
    color: var(--white);
    background: var(--ocean);
}
.link-portfolio{
    mix-blend-mode: normal;
}
